name: Continuous Deployment

on:
    push:
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"

jobs:
    publish-cargo:
        name: Publishing to Cargo
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
            - name: Install libudev for cargo publish. Needed by libcec build
              run: sudo apt-get install libudev-dev
            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  profile: minimal
                  override: true
            - uses: actions-rs/cargo@v1
              with:
                  command: publish
                  args: --token ${{ secrets.CARGO_API_KEY }} --allow-dirty
